.pokemon-listing-container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto;
  box-sizing: border-box;
  justify-items: center;
  padding-bottom: 30px;
}

.dark-mode-container {
  background-color: #616161;
}
