.pokemon-detail-container {
  max-width: 100vw;
  padding-bottom: 30px;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    font-size: 25px;
  }

  .detail-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  }

  .types {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .type-cards {
    display: flex;
    gap: 10px;
    margin: 10px 0px;
  }

  .type-card {
    padding: 7px 40px;
    background-color: #616161;
    border-radius: 5px;
    color: white;
    font-size: 20px;
  }

  .stats {
    margin: 0 auto;
    width: 50vw;
    margin-top: 20px;

    h2 {
      text-align: center;
    }

    .stat-name {
      font-size: 18px;
      margin-top: 10px;
    }

    .stat-width {
      background-color: #616161;
      height: 10px;
    }
  }
}

.dark-mode-container {
  .type-card {
    background-color: white;
    color: black;
  }
  .stats {
    .stat-width {
      background-color: white;
    }
  }
}
