@import "../../common/colors.scss";

.header {
  padding: 30px;
  background-color: $primary-color;
  max-width: 100vw;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;

  h2 {
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 40px;
  }

  input {
    width: 30vw;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;

    &:focus {
      outline: none;
    }
  }

  .header-right {
    display: flex;
    gap: 15px;
  }

  .header-right > button {
    background-color: $primary-color;
    border: none;
    width: auto;
    height: auto;
  }

  .change-theme-icon {
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: rgb(197, 197, 197);
    }
  }

  .header-right .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 15px;
    padding-right: 100px;

    &:hover {
      cursor: pointer;
    }
  }

  .dropdown:hover > .dropdown-menu > li {
    display: block;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    width: 100%;

    li {
      display: none;
      color: black;
      background-color: white;
      padding: 10px 20px;
      font-size: 16px;
      opacity: 0;

      &:hover {
        color: black;
      }
    }
  }

  .dropdown-menu > .dropdown-item-1 {
    transform-origin: top center;
    animation: translateX 100ms 60ms ease-in-out forwards;
  }
  .dropdown-menu > .dropdown-item-2 {
    transform-origin: top center;
    animation: translateX 100ms 120ms ease-in-out forwards;
  }
  .dropdown-menu > .dropdown-item-3 {
    transform-origin: top center;
    animation: translateX 100ms 180ms ease-in-out forwards;
  }
  .dropdown-menu > .dropdown-item-4 {
    transform-origin: top center;
    animation: translateX 100ms 240ms ease-in-out forwards;
  }

  @keyframes translateX {
    0% {
      opacity: 0;
      transform: translateX(60px);
    }
    80% {
      opacity: 0;
      transform: translateX(-5px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
