@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  overflow-x: hidden;
}
